.parent {
    height: 50vh;
    width: 120px;
    -webkit-box-pack: center;
    text-align: center;
    font: bold;
    padding: 10px;
    margin:500px;

    /* add solution here */
}

.child {
    background-color: darkolivegreen;
    color: white;
    padding: 1rem;
    
}
